/* views/museum/view */
.mbox{
    display: table;
    position: relative;
    margin: 10px;
    float: left;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -ms-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    height: 350px;
    text-overflow: hidden;
    overflow: hidden;
}

.mbox-top{
    width: 300px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.mbox-bot{
    font-size: 12px;
    text-align: left;
    width: 300px;
}

.mbox-top-notext{
    width: 300px;
    height: 100%;

}