::selection { background-color: #00cccc; color: white; }
::-moz-selection { background-color: #00cccc; color: white; }

body {
    background-color: #eaeaea;
        font: 13px/20px normal Helvetica, Arial, sans-serif;
    color: #4F5155; /* Text color */
}

h1 {
    color: #444;
    background-color: transparent;
    border-bottom: 1px solid #D0D0D0;
    font-size: 19px;
    font-weight: normal;
    margin: 0 0 14px 0;
    padding: 14px 15px 10px 15px;
}

header{
    background-color: orange;
    text-align: center;
    font: bold 20px arial;
    width: 60%;
    height: 30px;
    border-top: 1px solid #808080;
    border-left: 1px solid #808080;
    border-right: 1px solid #808080;
    display: table;
}

.content{
    width: 80%;
}

footer{
    margin-left: -15px;
    margin-right: -15px;
    padding: 5px;
    background-color: orange;
    border-bottom: 5px solid #808080;
}

.all{
    display: table;
    width: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: #808080;
}

.ul-menu{
    list-style-type: none;
    margin: 0;
    margin-left: -15px;
    margin-right: -15px;
    background-color: orange;
    border-bottom: 5px solid #808080;
    width: 100%;
    display: table;
}

.ul-menu li {
    padding: 20px;
    text-align: center;
    display: inline;
    float: left;

    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    -ms-transition: background 0.2s;
    -o-transition: background 0.2s;
    transition: background 0.2s;
}

.ul-menu li:hover {
    background-color: white;
}

.ul-menu li a {
    text-decoration: none;
    display: table;
    font-size: 15px;
    font-weight: bold;
    height: 100%;
    width: 60px;
    color: #808080;
}

.sub-menu{
    width: 100%;
    min-height: 20px;
    background-color: #c8c8c8;
    box-shadow: 0px 0px 1px 1px #808080;
}

input[type="submit"]{
    background-color: #c8c8c8;
}

hr {
    width: 80%;
}

label {
    text-align: right;
    horizontal-align: top;
    display: block;
    padding-right: 5px; 
}

table {
    width: 100%;
    text-align: left;
    /*border: 1px solid silver;*/
}

#oddTable tr:nth-child(even){
    background: #efefef;
}

input[type="text"]{
    width: 100%;
}

textarea{
    width: 100%;
}

img {
    max-width: 100%;
}

.content {
    width: 80%;
    margin-bottom: 20px;
}

/* LOGIN FORM */

.login-form{
    color: black;
}
.login-form input[type="text"]{
    padding: 5px;
    width: 150px;
    height: 30px;
}
.login-form input[type="password"]{
    padding: 5px;
    width: 150px;
    height: 30px;
}
.login-form input[type="submit"]{

}

/* SIGNUP FORM */

.signup-form{
    width:300px;
}
.signup-form input{
    width: 200px;
}

/* view/museum/elem.php */

.elem-cont{
    text-align: left;
    position: relative;
}

.image-cont {
    background-position: center;
    background-color: black;
    background-repeat: no-repeat;

    border-top-left-radius: 150px 50px;
    border-top-right-radius: 150px 20px;
    border-bottom-left-radius: 150px 20px;
    border-bottom-right-radius: 150px 20px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height: 300px;
    width: 50%;
    position: relative;
    float: right;
    vertical-align: top;
}
.left-arrow{
    display: table;
    float: left;
    height:100%;
    width: 50%;
    background-color: transparent;
    opacity: 0;

    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -ms-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
}
.right-arrow{
    display: table;
    float: right;
    height: 100%;
    width: 50%;
    background-color: transparent;
    opacity: 0;

    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -ms-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
}
.up-arrow{
    display: table;
    float: right;
    height: 50px;
    width: 50px;
    opacity: 0.4;
    position: absolute;
    right: 70px;
    bottom: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -ms-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
}
.left-arrow:hover{
    opacity: 1;
}
.right-arrow:hover{
     opacity: 1;
}
.up-arrow:hover{
    opacity: 1;
}
.left:hover{
    opacity: 0.2;
    background-color: #c8c8c8;
}
.right:hover{
    opacity: 0.2;
    background-color: #c8c8c8;
}

.fade{
    width: 100%;
    height: 100%;
    position: absolute;
    height: 1500px;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
}

.img-inbig{
    display: block;
    position: absolute;
    top: 20px;
    max-height: 600px;
    background-position: center;
    background-color: black;
    background-repeat: no-repeat;
    border-top-left-radius: 150px 50px;
    border-top-right-radius: 150px 20px;
    border-bottom-left-radius: 150px 20px;
    border-bottom-right-radius: 150px 20px;
}

.mosaic{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 98px;
    height: 70px;
    background-color: black;
    float: left;
    margin: 1px;
}

